body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-image: url(images/bcimage.jpg);
    background-size: cover;
}

h1,h2,h3{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.btn{
    background-color: blue;
    border-color: blue;
}

.btn:hover{
    background-color: blueviolet;
    border-color: blueviolet;
}

.main-section{
    margin-top: 20px;
    margin-bottom: 20px;
}

